{% extends "registration/base.html"%}
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Sign In</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<form action="/registration/sign_up/" method="post">
  {% csrf_token %}

  <div>
    <label>
      First Name
      <input type="text" name="first_name">
    </label>
  </div>
  <div>
    <label>
      Last Name
      <input type="text" name="last_name">
    </label>
  </div>
  <div>
    <label>
      Email
      <input type="email" name="email">
    </label>
  </div>
  <div>
    <label>
      Phone Number
      <input type="tel" name="phone_number">
    </label>
  </div>
  <div>
    <label>
      Password
      <input type="password" name="password">
    </label>
  </div>
  <div>
    <label>
      Confirm Password
      <input type="password" name="password_conf">
    </label>
  </div>
  <button>Create Account</button>
</form>

{% if password_error %}
  <p style="color: red;">Passwords do not match.</p>
{% endif %}

{% if email_error %}
  <p style="color: red;">Account Already exists with that email.</p>
{% endif %}

{% endblock %}
