{% extends "registration/base.html"%}
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'registration/style.css' %}">
  <title>Sign In</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<form action="/registration/sign_in/" method="post">
  {% csrf_token %}
  <div>
    <label>
      Email
      <input type="email" name="email">
    </label>
  </div>
  <div>
    <label>
      Password
      <input type="password" name="password">
    </label>
  </div>
  <button>Sign In</button>

</form>
<a href="/registration/sign_up/">Create New Account</a>
{% endblock %}
