#root {
  max-width: 1280px; 
  margin: 0 auto; 
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  /* padding: 1.5em; */
  will-change: filter;
  transition: filter 300ms;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  position: relative;
  background-color: #A2AAAD;
  border-radius: 8px;
  padding: 2em;
  color: black;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 1.3em;
  margin: 6px;
}

.card-details {
  margin: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.expand-btn {
  position: absolute;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  top: 0;
  right: 0;
}

.read-the-docs {
  color: #889;
}

nav {
  /* background-color: lightgray; */
  color: white;
  width: 100%;
  font-size: large;
}

nav a {
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-between;
  /* justify-content: center; */
  padding: 50px;
  gap: 6rem;
}

nav li {
  list-style-type: none; 
}

.navLink {
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-button {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2rem;
  gap: 1rem;
}

.main-button button {
  background-color: #0F2439;
  color: lightgray;
  border-radius: 8px;
  padding: 1rem;
  width: 100%;
  border: 1px solid lightgray;
}

#at-work-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.status-dot-active {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #34ff4a;
    border-radius: 50%;
    margin: 3px;
}

.status-dot-inactive {
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    background: #ff4a34;
    border-radius: 50%;
    margin: 3px;
}

.location-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-icon {
  height: 20px;
  width: 20px;
  margin: 3px;
}

#checkin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
}

#tasks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: x-large;
}

.checkin-input {
  border-radius: 4px;
  margin-left: 1rem;
}

.task-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; /* center label text */
  gap: 8px; /* space between checkbox and label */
  width: 100%;
  max-width: 300px; /* optional, for a clean look */
  margin: 4px 0;
  padding-left: 4rem;
}

#checkin-button {
  margin: 2rem;
}
